# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/yajl-ruby-1.2.1 ~amd64
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/msgpack-0.5.12 ~amd64
# required by dev-ruby/coolio-1.4.2::gentoo[ruby_targets_ruby21]
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/iobuffer-1.1.2-r3 ~amd64
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/sigdump-0.2.2 ~amd64
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/tzinfo-data-1.2015.7 ~amd64
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/string-scrub-0.0.5 ~amd64
# required by dev-ruby/coolio-1.4.2::gentoo
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-libs/libev-4.22 ~amd64
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/coolio-1.4.2 ~amd64
# required by dev-ruby/tzinfo-1.2.2::gentoo[ruby_targets_ruby20]
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby21]
# required by fluentd (argument)
=dev-ruby/thread_safe-0.3.5 ~amd64
# required by dev-ruby/tzinfo-data-1.2015.7::mazgi-experimental[ruby_targets_ruby21]
# required by app-admin/fluentd-0.12.17::mazgi-experimental[ruby_targets_ruby20]
# required by fluentd (argument)
=dev-ruby/tzinfo-1.2.2 ~amd64
# required by fluentd (argument)
=app-admin/fluentd-0.12.17 ~amd64
