app-admin/fluentd
app-admin/logrotate
app-admin/rsyslog
app-admin/sudo
app-editors/vim
app-misc/tmux
app-portage/eix
app-portage/flaggie
app-portage/gentoolkit
app-shells/zsh
dev-vcs/git
net-analyzer/iftop
net-analyzer/tcpdump
net-analyzer/zabbix
net-fs/nfs-utils
net-misc/ntp
net-misc/openssh
net-nds/openldap
sys-apps/gptfdisk
sys-apps/moreutils
sys-auth/sssd
sys-boot/grub
sys-fs/btrfs-progs
sys-fs/xfsprogs
sys-kernel/genkernel
sys-kernel/gentoo-sources
sys-process/htop
sys-process/lsof
sys-process/vixie-cron
