app-admin/sudo
app-editors/vim
app-emulation/docker
app-emulation/docker-compose
app-i18n/nkf
app-misc/jq
app-misc/screenfetch
app-misc/tmux
app-portage/eix
app-portage/gentoolkit
app-shells/zsh
app-text/tree
dev-vcs/git
net-analyzer/iftop
net-analyzer/netcat
net-dns/avahi
net-dns/bind-tools
net-misc/dhcpcd
sys-apps/systemd
sys-auth/nss-mdns
sys-boot/efibootmgr
sys-fs/btrfs-progs
sys-kernel/genkernel
sys-kernel/gentoo-sources
sys-process/htop
sys-process/lsof
