sys-auth/sssd sudo -acl -locator ssh
# required by sys-auth/sssd-1.12.1::gentoo
# required by sssd (argument)
>=net-dns/bind-tools-9.10.2_p4 gssapi
# required by sys-auth/sssd-1.12.1::gentoo
# required by sssd (argument)
>=dev-libs/cyrus-sasl-2.1.26-r9 kerberos
# required by sys-auth/sssd-1.12.1::gentoo
# required by sssd (argument)
>=sys-libs/glibc-2.20-r2 nscd
# required by sys-auth/sssd-1.12.1::gentoo
# required by sssd (argument)
>=net-nds/openldap-2.4.38-r2 sasl
# required by sys-libs/ldb-1.1.17-r1::gentoo
# required by sys-auth/sssd-1.12.1::gentoo
# required by sssd (argument)
>=sys-libs/tdb-1.3.0-r1 python
# required by sys-libs/ldb-1.1.17-r1::gentoo
# required by sys-auth/sssd-1.12.1::gentoo
# required by sssd (argument)
>=sys-libs/tevent-0.9.21-r1 python
